<h1>Sample App</h1>
<p>
  <%= t "hi" %> 
  <%= @user.name %>,
</p>
<p>
  <%= t "msg.welcome_msg" %>
  <%= t "mail.account_activation.instruction" %>
</p>
<%= link_to "Activate",edit_account_activation_url(id: @user.activation_token, email: @user.email) %>
