<%= form_for @micropost do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t("micropost.micropost_input_placeholder") %>
  </div>
  <span class="image">
    <%= f.file_field :image, accept: Settings.accept_img_type %>
  </span>
  <%= f.submit t("post"), class: "btn btn-primary" %>
<% end %>
